*{
    margin: 0;
    padding: 0;
}

:root{
    --fundo:#FD9856;
    --cartao-frent:#D162A3;
    --cartao-verso:#A30161;
    --destaque:#D52C01;
    --preto:#000;
    --branco:#ffff;
}

body{
    background-color: var(--fundo);
}

footer{
    background-color: var(--branco);
    position: fixed;
    bottom: 0;
    color: var(--destaque);
    width: 100%;
    text-align: center;
    font-weight: 600;
}